<%- include("partials/header") -%>



    <h1><%= articleTitle %></h1> 
    <p> <%= articleContent %></p>
    <img src="<%= articleImg %>">
    <button href="<%= articleLink %>"> Download </button>
    

<%- include("partials/footer") -%>